.login-page{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    width: 100%;    
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 65%);
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 5%, rgba(0,0,0,1) 77%);
}

.login-inputs-and-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
}



.link{
    color: white;
    text-decoration: none;
}
.link:hover{
    color: lightgray
}

.errors{
    width: 100%;
    font-size: small;
    color: red;
}
.background{
    padding: 3%;
    padding-top: 2px;
    border-radius: 30px ;
    padding-left: 13%;
    padding-right: 13%;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}