.login-page{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    background-size:cover;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 5%, rgba(0,0,0,1) 77%);
    padding: 0 1rem 0 1rem;
}
.background{
    position: relative;
    border-radius: 30px ;
    height: 400px;
    width: 100%;
    max-width: 600px;
    padding: 1rem;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.corner_img1{
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 150px;
}
.corner_img2{
    transform: rotate(90deg);
    position: absolute;
    left: -12px;
    top: 12px;
    width: 150px;
}
.corner_img3{
    transform: rotate(270deg);
    position: absolute;
    right: -13px;
    bottom: 14px;
    width: 150px;
}
.corner_img4{
    transform: rotate(180deg);
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
}


.login-img-div{
    padding-bottom: 20px;
}

.login-img{
    width: 100px;
    
}


.link{
    color: #6A99D7;
    text-decoration: none;
}
.link:hover{
    color: #0E6BE3;
}

.errors{
    font-size: small;
    color: red;
}
.button-and-link-to-register{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}



