#registerPage{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    width: 100%;
}

#registerInputs{
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#nameInputs{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#emailPasswordInputs{
    display: flex;
    flex-direction: column;
}

#linkToLogin{
    text-decoration: none;
}