.register-page{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    width: 100%;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 5%, rgba(0,0,0,1) 77%);
}

.register-inputs{
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

.name-inputs{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.email-password-inputs{
    display: flex;
    flex-direction: column;
    
}

.link-to-login{
    text-decoration: none;
    color: #6A99D7;
    
}
.link-to-login:hover{
    color: #0E6BE3;
}
.errors{
    width: 100%;
    font-size: small;
    color: red;
}

.background{
    padding: 1%;
    padding-top: 1px;
    border-radius: 30px ;
    padding-left: 10%;
    padding-right: 10%;
    background-image: url("../.././assets/loginImages/RegisterPage.png");
    display: flex;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    flex-direction: column;
    color: white;
}