.register-page{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    width: 100%;
}

.register-inputs{
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.name-inputs{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.email-password-inputs{
    display: flex;
    flex-direction: column;
}

.link-to-login{
    text-decoration: none;
}
.errors{
    width: 100%;
    font-size: small;
    color: red;
}