.background{
    background-color: black;
    position: fixed;
    top: 0px;
    left: calc(100% - 300px);
    bottom: 0px;
    width: 300px;
    z-index: 1101;
}

.toggle-container{
  position: fixed;
  top: 5px;
  left: calc(100% - 50px);
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  z-index: 1103;
}
.nav{
  width: 300px;
}

@media screen and (min-width: 320px ) {
  .toggle-container{
    right: calc(100% - -230px);
  }
  .background{
    right: calc(100% - 25px);
  }
}
@media screen and (min-width: 375px){
  .toggle-container{
    right: calc(100% - -180px);
  }
  .background{
    right: calc(100% - 75px);
  }
}

@media screen and (min-width: 1440px) 
{
  .toggle-container{
    right: calc(100% - 50px);
  }
  .background{
    right: calc(100% - 305px);
  }
}
