.custom-select {
    display: flex;
    flex-direction: column;
}

.custom-option {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer; /* Add cursor pointer to indicate clickable elements */
}

.selected-option{
    width: 20px;
    padding: 3px;
    background-color: white;
    border-radius: 30px;
}
