.opening-hours-page {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    padding: 80px;
}

.background {
    position: relative;
    border-radius: 30px ;
    height: 400px;
    width: 100%;
    max-width: 600px;
    padding: 1rem;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    box-shadow: 5px 5px 30px 5px gray;
}

.corner_img1{
    position: absolute;
    left: 0;
    bottom: -26px;
    width: 150px;
}
.corner_img2{
    transform: rotate(90deg);
    position: absolute;
    left: -12px;
    top: 12px;
    width: 150px;
}
.corner_img3{
    transform: rotate(270deg);
    position: absolute;
    right: -12px;
    bottom: 11px;
    width: 150px;
}
.corner_img4{
    transform: rotate(180deg);
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
}

.opening-hours-title-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.opening-hours-data-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px; 
    padding-bottom: 35px;

}

h1 {
    margin-top: 0px;
    margin-bottom: 50px !important;
}

p {
    left: 0px;
    margin: 0px !important;
    padding: 0px;

}

@media screen and (max-width: 425px) {
    .opening-hours-page {
        padding: 25px;
    }

    .background {
        height: 300px;
        
        
    }

    p {
        font-size: 15px !important;
    }

    h1 {
        font-size: 25px !important;
    }
    
    
}