.toolbar{
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: black;
}


.toolbar-start{
    position: relative;
    top: 10px;
    left: 50px;
}

.toolbar-middle{
    position: relative;
    left: -30px;

}

.toolbar-end{
}

.language-buttons{
    display: flex;
    gap: 10px;
}

.logo{
    height: 75px;
    width: 75px;
}

@media screen and (max-width: 425px) {
    .toolbar-middle{
        left: -30px;
    
    }
}




