.toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 6vh;

}


.toolbar-start{

}

.toolbar-middle{

}

.toolbar-end{

}

.language-buttons{
    display: flex;
    gap: 10px;
}


