.toolbar{
    height: auto;
}


.toolbar-start{

}

.toolbar-middle{
    position: absolute;
    left: 49%;

}

.toolbar-end{
    bottom: 12px;
    position: absolute;
    right: 0;
    padding-right: 10px;
    top: 10px;
}

.language-buttons{
    display: flex;
    gap: 10px;
}

.logo{
    height: 75px;
    width: 75px;
}

@media screen and (max-width: 425px) {
    .toolbar-middle{
        left:42%;
    
    }
}




