.background{
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 300px;
    z-index: 1101;
}

.toggle-container{
  position: fixed;
  top: 5px;
  left: 0px;
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  z-index: 1103;
}
.nav{
  width: 300px;
}