/* .footer {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: black;
    color: white;
  }
  
  
  .footer-social-media__icon {
    margin: 0px 4px;
    width: 25px;
    height: 25px;
  }
  
  .footer-info  {
    display: flex;
    justify-content: center;
  }
  
  .footer-info-left, .footer-info-center, .footer-info-right {
    font-size: large;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 30%;
  }
  

  .footer-info-center {
    align-items: center;
    display: flex;
  }

  .footer-info-left {
    align-items: end;
    display: flex;
  }

  .footer-info__information {
    display: flex;
    justify-content: center;
  }
  
  .footer-info__name, .footer-info__email, .footer-info__number {
    margin-bottom: 10px;
  }
  
  .footer-info__name, .footer-info__returns {
    text-align: start;
  }
  
  .footer-info__email, .footer-info__terms {
    text-align: center;
  }
  
  .footer-info__number, .footer-info__contact {
    text-align: end;
  }

  .footer-info__icons img{
    width: 25px;
    height: 25px;
  }

  .footer-info-content-address {
    display: inline-flex;
  }

  .footer-info-content-phone {
    display: inline-flex;
  }

  .footer-info-content-email {
    display: inline-flex;
  }
  
  .footer-date {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .footer-seperator-top {
    flex-grow: 1;
    border: none;
    height: 1px;
    background-color: white;
    width: 100%;
  }

  .footer-seperator-bottom {
    flex-grow: 1;
    border: none;
    background-color: white;
    width: 100%;
  }
  
  .footer-name {
    display: flex;
    justify-content: center;
  }

  .footer-logo {
    width: 100px;
    height: 100px;
    
  }
  
  .footer-bottom__name {
    text-transform: uppercase;
    font-family: RobotoBold;
    font-size: large;
    margin: 0px 20px;
  }

.footer-info__social-media__icons img {
    width: 25px;
    height: 25px;

}

.footer-social-content-facebook {
    display: inline-flex;

}

.footer-social-content-instagram {
    display: inline-flex;
}

.footer-social-content-tiktok {
    display: inline-flex;
}

.corner_img1 {
    height: 125px;
    width: 125px;
    position: absolute;
    top: 115px;
}

.corner_img2 {
    height: 125px;
    width: 125px;
    position: absolute;
    transform: rotate(270deg);
    bottom: 0;
    left: 840px;
}


@media screen and (min-width: 320px ) {
  .footer-info-left {
    position: relative;
    font-size: 15px;
    left: 55px;
    top: 20px;
    align-items: end;
    display: flex;
  }
 
  .footer-logo {
    width: 60px;
    height: 60px;
    
  }
  .footer-info-right {
    position: relative;
    font-size: 15px;
    right: 5px;
    top: 15px;
    align-items: start;
    display: flex;
  }
  .footer-info__information{
    font-size: small;
  }


}

@media screen and (max-width: 425px ) {
  .footer-info-left {
    position: relative;
    font-size: 15px;
    left: 55px;
    top: 20px;
    align-items: end;
    display: flex;
  }
 
  .footer-logo {
    width: 60px;
    height: 60px;
    
  }
  .footer-info-right {
    position: relative;
    font-size: 15px;
    right: 5px;
    top: 20px;
    align-items: start;
    display: flex;
  }
  .footer-info__information{
    font-size: small;
  }
} */




.footer{
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 150px;
  color: white;
  background-color: black;
}


.footer-left-side, .footer-center-side, .footer-right-side{
  display: flex;
  align-items: center;
}

.footer-left-side{
  width: 100%;
  height: 100%;
  align-items: end;
  text-align: end;
  flex-direction: column;
  justify-content: center;
}
.footer-center-side{
  align-items: center;
  justify-content: center;
  width: 70%;
}
.footer-right-side{
  width: 100%;
  height: 100%;
  text-align: start;
  align-items: start;
  flex-direction: column;
  justify-content: center;
}

.footer-info__icons{
  width: 20px;
}

.footer-logo{
  width: 120px;
}

.footer-info-content{
  width: 100%;
}


@media screen and (max-width: 425px) {
  .footer{
    
    font-size: small;
  }
  .footer-logo{
    width: 80px;
  }
  .footer-email-span{
    font-size: x-small;
  }
}